{% extends "test.html" %}
{% block artic%}
    <div id="main" class="inner home-inner">
            <div class="job-list">
                <div class="job-tab" data-filter="" data-keyword="" data-l3code="100109" data-rescount="165" data-page="1" data-source="2">
                    <a href="{{ index }}" class="cur" ka="recommend-job-list">热门职位</a>
                </div>

                <ul>

                    {% for i in a %}
                    <li style="font-size: 22px">{{i[0]}}</li>

                    {% end for %}
                            {%for ii in b%}
                            <li>
                                  <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">
                                            <a href="{{ii[0]}}"  ka="search_list_1" target="_blank">
                                                <div class="job-title" title="{{ii[7]}}">{{ii[7]}}</div>
                                                <span class="red">{{ii[9]}}</span>
                                                <div class="info-detail"></div>
                                            </a>
                                        </h3>
                                        <p>{{ii[10]}}<em class="vline"></em>{{ii[11]}}<em class="vline"></em>{{ii[12]}}</p>
                                    </div>
                                    <div class="info-company">
                                        <div class="company-text">
                                            <h3 class="name"><a href="./"  target="_blank">{{ii[4]}}</a></h3>
                                            <p>移动互联网<em class="vline"></em>不需要融资<em class="vline"></em>{{ii[5]}}</p>
                                        </div>
                                    </div>
                                    <div class="info-publis">
                                        <h3 class="name">林玲<em class="vline"></em>人事主管</h3>
                                        <p>发布于07月20日</p>
                                    </div>

                                </div>
                            </li>
                            {%end for%}

                        </ul>

<div class="page">
    <a href="{{id_1}}" >{{sumit1}}</a>
    <a href="{{id_2}}">{{sumit2}}</a>
    <span>...</span>
    <a href="{{id_2}}" class="next">></a>
</div>
            </div>
    </div>
                {% end block%}