{% extends "test.html" %}
{% block artic%}
<div style="position: absolute;right: 15%;left: 15%;margin: 20px">
      <div style="width: 70%;background-color: white;margin: auto">
          <div class="detail-content">

                        <div class="job-sec">
                            <h3>职位描述</h3>
                            <div class="text">
                                    岗位职责：&nbsp;<br/>1. 负责公司相关业务、产品和服务的后端开发和维护。&nbsp;<br/>2. 负责产品后端架构的设计、实现、改进和优化，确保后端服务稳定、可靠、高效。&nbsp;<br/>3. 参与后端前沿技术的探索。&nbsp;<br/>任职要求：&nbsp;<br/>1. 计算机基础知识扎实，对数据结构及算法有较好的掌握。&nbsp;<br/>2. 两年或以上 Python/Java/Go 语言后端开发经验，有 Python 经验者优先。&nbsp;<br/>3. 熟悉 MySQL 数据库以及 Redis 或 Memcached、MongoDB 等 NoSQL 技术。&nbsp;<br/>4. 有一定的系统设计能力及良好的抽象能力，能够对业务逻辑进行合理的抽象和拆分。&nbsp;<br/>5. 有优秀的解决问题的能力，有很强的学习能力。&nbsp;<br/>6. 具有大数据分析处理、AI 产品落地经验者优先
                            </div>
                        </div>
                                    <div class="job-sec">
                                        <h3>团队介绍</h3>
                                        <div class="text">人性化管理，学习氛围强，晋升空间大，赚钱多多</div>

                                        <div class="job-tags">

                                                <span>领导nice</span>

                                                <span>年度旅游</span>

                                                <span>智能硬件</span>

                                                <span>公司氛围好</span>

                                                <span>带薪年假</span>

                                                <span>地铁周边</span>

                                                <span>发展潜力</span>

                                                <span>免费零食</span>
                                           </div>

                                    </div>


                                    <div class="job-sec company-info">
                                        <h3>公司介绍</h3>
                                        <div class="text">
                                                北京爱一城科技有限公司是一家新兴物联网企业，专注于物联网软硬件技术的研发，拥有数百名员工，80%的技术开发人员来自国内乃至全球顶级互联网技术及通信技术，公司拥有独立知识产权。<br/>&ldquo;一城&rdquo;、&ldquo;魔狗&rdquo; 是北京爱一城科技有限公司旗下的注册商标。北京爱一城科技有
                                        </div>
                                        <a ka="job-comintroduce" href="/gongsi/e84107bf3f4dc0630nx53NS4.html" target="_blank" class="look-all"><span>...</span>查看全部</a>
                                    </div>

                                <div class="job-sec prop-item">
                                    <h3>竞争力分析</h3>
                                    <div class="prop-default">
                                        <div class="title">综合竞争力评估</div>
                                        <div class="prop-container">
                                            <span class="level-1"></span>
                                            <span class="level-2"><em>一般</em></span>
                                            <span class="level-3"><em>良好</em></span>
                                            <span class="level-4"><em>优秀</em></span>
                                            <span class="level-5"><em>极好</em></span>
                                        </div>
                                        <div class="prop-detail">
                                            <div class="pull-right">加载中...</div>
                                            <div>个人综合排名：<span>在<img src="https://static.zhipin.com/zhipin/v91/web/geek/images/pic-blur.png">人中排名第<img src="https://static.zhipin.com/zhipin/v91/web/geek/images/pic-blur.png"></span></div>
                                        </div>
                                    </div>
                                </div>

                                    <div class="job-sec">
                                        <h3>工商信息</h3>
                                        <div class="name">北京爱一城科技有限公司</div>
                                        <div class="level-list">
                                            <li><span>法人代表：</span>汪伟</li>
                                            <li><span>注册资金：</span>2000万元人民币</li>
                                            <li class="res-time"><span>成立时间：</span>2016-06-01</li>
                                            <li class="company-type"><span>企业类型：</span>有限责任公司(自然人投资或控股)</li>
                                            <li class="manage-state"><span>经营状态：</span>存续（在营、开业、在册）</li>
                                        </div>
                                        <a ka="job-cominfo" href="/gongsi/e84107bf3f4dc0630nx53NS4.html" target="_blank" class="look-all">查看全部</a>
                                    </div>

                                <div class="job-sec">
                                    <h3>工作地址</h3>
                                    <div class="job-location">
                                        <div class="location-address">武汉江汉区后襄河北路59号1栋1304_1305室</div>
                                        <div class="job-location-map js-open-map" data-content="武汉江汉区后襄河北路59号1栋1304_1305室">
                                            <img src="https://restapi.amap.com/v3/staticmap?size=652*174&markers=mid,0xFF0000,A:114.2541,30.61057&key=21b56a6cc83fad7668dbb0e9564759a7" alt="公司地址" />
                                            <p>点击查看地图</p>
                                        </div>
                                    </div>
                                </div>


                    </div>
      </div>
</div>

    {% end block%}