<!--这是详情页-->
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="standard"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>【武汉Python招聘】2018年武汉Python最新人才招聘信息-BOSS直聘</title>
       <link href="{{ static_url('css/main.css')}}" type="text/css" rel="stylesheet">
 </head>
<style>
    header{
        font-size: 22px;
    }
</style>
<body>



<div id="header" >
    <div class="inner home-inner">
        <div class="user-nav">
            <div class="btns">
                <a href="{{regesit}}" ka="header-register" class="btn btn-outline" >注册</a>
                <a href="{{login}}" ka="header-login" class="btn btn-outline" >登录</a>
            </div>
        </div>
    </div>
</div>
    <div id="main" class="inner home-inner">
            <div class="job-list">
                <div class="job-tab" data-filter="" data-keyword="" data-l3code="100109" data-rescount="165" data-page="1" data-source="2">
                    <a href="{{ index }}" class="cur" ka="recommend-job-list">热门职位</a>
                </div>
                        <ul>
                            <li>
                                  <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">
                                            <a href="{{ visual }}"  ka="search_list_1" target="_blank">
                                                <div class="job-title">Python</div>
                                                <span class="red">10k-11k</span>
                                                <div class="info-detail"></div>
                                            </a>
                                        </h3>
                                        <p>武汉 洪山区 关山<em class="vline"></em>1-3年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-company">
                                        <div class="company-text">
                                            <h3 class="name"><a href="{{info}}"  target="_blank">搜伯信息技术</a></h3>
                                            <p>移动互联网<em class="vline"></em>不需要融资<em class="vline"></em>20-99人</p>
                                        </div>
                                    </div>
                                    <div class="info-publis">
                                        <h3 class="name">林玲<em class="vline"></em>人事主管</h3>
                                        <p>发布于07月20日</p>
                                    </div>
                                    <a href="/3.html">立即沟通
                                    </a>
                                </div>
                            </li>
                        </ul>
<div class="page">
    <a href="/c101200100-p100109/?page=2" >1</a>
    <a href="/c101200100-p100109/?page=2">2</a>
    <a href="/c101200100-p100109/?page=3" >3</a>
    <span>...</span>
    <a href="/c101200100-p100109/?page=2" class="next">></a>

</div>

</body>
</html>
